.total-component{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.main-shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.order{
    height: 30px;
    width: 176px;
}
.cart{
    margin-left: 30px;
    background-color: #FF99004D;
    height: 944px;
    width: 264px;
    text-align: center;
}